.swiper{
    width: 100%;
    position: unset;
    padding: .25rem;
}
.swiper-wrapper{
    width: fit-content;
}
.swiper-slide{
    width: 420px;
}
.swiper-slide:last-child{
    margin-right: 1rem;
}
.swiper-button-next,.swiper-button-prev{
    color: #ffffff;
    padding: .5rem;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    border: .1rem solid var(--lightBlue);
    transition: 250ms;
}
.swiper-button-next{
    right: -3rem;
}
.swiper-button-prev{
    left: -3rem;
}
.swiper-button-next::after,.swiper-button-prev::after{
    font-size: 95%;
}
.swiper-button-next:hover,.swiper-button-prev:hover{
    color: var(--green);
    border-color: var(--green);
}

@media screen and (width <= 1000px) {
    .swiper-button-next,.swiper-button-prev{
        bottom: -3.5rem;
        top: unset;
    }
    .swiper-button-next{
        right: calc(50% - 3rem);
    }
    .swiper-button-prev{
        left: calc(50% - 3rem);
    }
}

@media screen and (width <= 550px) {
    .swiper-slide{
        width: unset;
    }
    .swiper-wrapper{
        margin: 0;
    }
}