.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    min-height: 650px;
}
.home img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.home h1{
    font-size: var(--medium);
    color: #ffffff;
}
.home h1 span{
    color: var(--green);
}
.home p{
    color: var(--lightBlue);
    font-size: var(--small-1);
    max-width: 950px;
    text-align: center;
    line-height: var(--line-height-p);
}
.home p.scrollDown{
    font-size: var(--x-small);
    text-transform: uppercase;
    letter-spacing: .15rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.home p.scrollDown span{
    font-size: var(--small);
    margin-right: .5rem;
    animation: arrowAnimation 500ms ease-in-out infinite alternate;
}
.home p.scrollDown:hover{
    color: var(--green);
}
@keyframes arrowAnimation {
    From{transform: translateY(-.2rem);}
    To{transform: translateY(.2rem);}
}
.typingCursor{
    opacity: 1;
}
.pausetyping{
    animation: cursorBlink 600ms ease-in-out infinite;
}
@keyframes cursorBlink {
    From{opacity: 0;}
    To{opacity: 1;}
}