.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    min-height: 750px;
}
.home img{
    inset: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.home figure{
    position: relative;
    height: 10rem;
    width: 10rem;
    padding: .35rem;
}
.home figure::before{
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, var(--green), var(--lightGreen));
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    From{transform: rotate(0deg);}
    To{transform: rotate(360deg);}
}
.home h1{
    font-size: var(--medium);
    color: #ffffff;
}
.home h1 span{
    color: var(--green);
}
.home p{
    color: var(--lightBlue);
    font-size: var(--small-1);
    max-width: 950px;
    text-align: center;
    line-height: var(--line-height-p);
}
.home p.scrollDown{
    font-size: var(--x-small);
    text-transform: uppercase;
    letter-spacing: .15rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.home p.scrollDown span{
    font-size: var(--small);
    margin-right: .5rem;
    animation: arrowAnimation 500ms ease-in-out infinite alternate;
}
.home p.scrollDown:hover{
    color: var(--green);
}
@keyframes arrowAnimation {
    From{transform: translateY(-.2rem);}
    To{transform: translateY(.2rem);}
}
.typingCursor{
    opacity: 1;
}
.pausetyping{
    animation: cursorBlink 600ms ease-in-out infinite;
}
@keyframes cursorBlink {
    From{opacity: 0;}
    To{opacity: 1;}
}

@media screen and (width <= 750px){
    .home h1{
        text-align: center;
    }
    .home h1 span{
        display: flex;
        justify-content: center;
    }
}