.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .8rem;
    padding-bottom: .8rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar .hamburger{
    color: var(--green);
    font-size: 3rem;
    background-color: var(--tileBlue);
    padding: .5rem;
    box-shadow: var(--smokeShadow);
    border-radius: .25rem;
    position: absolute;
    right: 5%;
    display: none;
}
.navbar h1{
    font-size: var(--small-2);
    color: var(--green);
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.navbar h1::after{
    content: ".";
    color: #ffffff;
}
nav{
    display: flex;
    font-size: var(--small);
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 650px;
    margin: 0 1rem;
}
nav ol{
    display: inherit;
    list-style: decimal-leading-zero;
    list-style-position: inside;
    width: inherit;
    justify-content: space-between;
    flex-direction: inherit;
}
nav ol li{
    color: var(--green);
    cursor: pointer;
    position: relative;
}
nav ol li::after{
    content: "";
    height: .2rem;
    border-radius: 5px;
    width: 0;
    background-color: var(--green);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: 250ms;
}
nav ol li:hover > span{
    color: var(--green);
}
nav ol li span{
    color: #ffffff;
    text-decoration: none;
}
nav ol button{
    display: none;
}
.active > span{
    color: var(--green);
}

@media screen and (width > 950px) {
    nav ol li:hover::after{
        width: 100%;
    }
}

@media screen and (width <= 950px) {
    .navbar .hamburger{
        display: block;
    }
    nav{
        flex-direction: column;
        position: fixed;
        right: 0;
        top: -100vh;
        height: 100vh;
        width: 100%;
        max-width: unset;
        margin: unset;
        background-color: var(--tileBlue);
        justify-content: flex-start;
        transition: 500ms;
        overflow: auto;
    }
    nav::-webkit-scrollbar{
        width: 0;
    }
    nav ol{
        min-height: 470px;
        margin: 80px 0;
        align-items: center;
        /* justify-content: flex-start; */
    }
    .showNavbar{
        top: 0;
    }
    nav ol li{
        width: 95%;
        text-align: center;
        padding: 1rem 0;
        margin: .5rem 0;
        border-radius: .5rem;
    }
    .active{
        background-color: var(--lightGreen);
    }
    nav ol button{
        display: block;
    }
    .navbar > button{
        display: none;
    }
}

@media screen and (width <= 550px){
    .navbar{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .navbar h1{
        font-size: var(--small-15);
    }
    .navbar .hamburger{
        font-size: 2.5rem;
    }
}