.works h2::before{
    content: "Works";
}
.works ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.works li{
    list-style: none;
    color: var(--green);
    background-color: var(--lightGreen);
    font-size: var(--small);
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
}
.workList{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(420px,1fr));
    gap: 2.5rem;
}
.workList .workDefinition{
    padding: .5rem;
    padding-bottom: 1rem;
    border-radius: .5rem;
    background-color: var(--tileBlue);
    box-shadow: var(--smokeShadow);
    transition: 500ms;
}
.workList .workDefinition:hover{
    transform: translateY(-.5rem);
}
.workList .workDefinition .figure, .workList .workDefinition .figure img{
    width: 100%;
    aspect-ratio: 2/1.25;
}
.workList .workDefinition .figure{
    position: relative;
    overflow: hidden;
    padding: .5rem;
}
.workList .workDefinition .figure img{
    vertical-align: middle;
}
.workList .workDefinition h5{
    color: #ffffff;
    font-size: var(--small-1);
    /* line-height: 2rem; */
    font-weight: 500;
    margin-top: 1rem;
    padding: 0 .5rem;
}
.workList .workDefinition p{
    color: var(--lightBlue);
    font-size: var(--small);
    margin-top: .5rem;
    padding: 0 .5rem;
}
.workList .hoverContent{
    background-color: #0f172acc;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    backdrop-filter: blur(5px);
    transition: 500ms;
}
.workList .hoverContent > *{
    background-color: var(--green);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    padding: .5rem;
    cursor: pointer;
    overflow: initial;
}
.workList .workDefinition:hover .hoverContent{
    top: .25rem;
}
@media screen and (width <= 768px) {
    .workList{
        grid-template-columns: 1fr;
    }
    .works ul{
        gap: 1rem;
    }
}