:root{
    --font-radio-canada: Radio Canada, sans-serif;
    --font-sans: sans-serif;
    --green: #72e2ae;
    --lightGreen: #72e2ae33;
    --lightBlue: #bfbecb;
    --tileBlue: #162033;
    --commonBg: #0b1223;
    --smokeShadow: rgba(255, 255, 255, 0.02) 0px 1px 3px 0px, rgba(197, 226, 255, 0.15) 0px 0px 0px 1px;;
    --x-small: .85rem;
    --small: 1rem;
    --small-1: 1.25rem;
    --small-15: 1.5rem;
    --small-11: 2rem;
    --small-2: 2.25rem;
    --medium: 3rem;
    --xx-large: 8rem;
}
header,section{
    padding: 0 5%;
}
section{
    font-family: sans-serif;
    margin-bottom: 5rem;
}
button{
    font-size: var(--small);
    text-transform: uppercase;
    padding: .85rem 1.25rem;
    border-radius: .25rem;
    background-color: var(--green);
    cursor: pointer;
    border: none;
    height: fit-content;
    width: fit-content;
}
h2{
    color: #ffffff;
    font-size: var(--small-2);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}
h2::before{
    font-size: var(--xx-large);
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: .05;
    z-index: -1;
}